#modal-postContent {
	word-break: break-word;
}

#modal-postContent img {
	max-width: 100%;
	display: block;
}

#post .post {
	word-break: hide;
}

#post .post img {
	max-width: 100%;
	display: block;
}

#post .post .btn-delPost {
	position: absolute;
	right: 30px;
	color: #b7b7b7;
	cursor: pointer;
	display: none;
}

#post .post:hover .btn-delPost {
	display: initial;
}

#post .post .btn-delPost:hover {
	color: initial;
}

#post .post .btn-editPost {
	position: absolute;
	right: 28px;
	top: 50px;
	font-size: 14px;
	cursor: pointer;
	color: #b7b7b7;
	display: none;
}

#post .post:hover .btn-editPost {
	display: initial;
}

#post .post .btn-editPost:hover {
	color: initial;
}

.forLogin.hide,
.forNoLogin.hide {
	display: none;
}
